.promo {
  margin: 0;
  padding: 75px 70px 50px 70px;
  min-height: 524px;
  background: var(--gray);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.promo__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.promo__title {
  margin: 0;
  margin-bottom: 36px;
  padding: 0;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 50px;
  line-height: 116%;
  max-width: 640px;
}

.promo__subtitle {
  margin: 0;
  margin-bottom: 146px;
  padding: 0;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  max-width: 310px;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.promo__button {
  width: 127px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-bottom: 25px;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  border: 1px solid #00000060;
  border-radius: 3px;
  text-decoration: none;
  color: var(--black);
}

.promo__button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.promo__logo {
  min-width: 310px;
  min-height: 304px;
  background-image: url(../../images/promo-logo.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
