.search-form {
  padding: 80px 70px 10px 70px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  background: var(--white);
  box-sizing: border-box;
}

.search-form__wrapper {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.search-form__input {
  padding: 15px 0 15px 22px;
  margin: 0;
  min-height: 48px;
  width: 100%;
  background: var(--light-gray);
  border-radius: 4px;
  border: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  box-sizing: border-box;
  user-select: none;
  outline: none;
}

.search-form__button {
  padding: 0;
  margin: 0;
  width: 70px;
  height: 44px;
  background: var(--blue);
  border-radius: 3px;
  border: none;
  color: var(--abs-white);
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  text-align: center;
}

.search-form__button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.search-form__toggle {
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 100%;
  border-bottom: 1px solid var(--stack-gray);
}

.search-form__toggle-text {
  margin: 0;
  padding: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
}

@media (max-width: 768px) {
  .search-form {
    padding: 80px 30px 10px 30px;
  }
}

@media (max-width: 575.98px) {
  .search-form {
    padding: 8px 14px 10px 14px;
  }
  .search-form__input,
  .search-form__toggle-text {
    font-size: 12px;
    line-height: 18px;
  }
  .search-form__toggle {
    padding-bottom: 44px;
  }
}