.header {
  width: 100%;
  margin: 0 auto;
  padding: 0 70px;
  min-height: 74px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.header_main {
  background: var(--gray);
}

.header_hide {
  display: none;
}

.header__navigation {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  visibility: visible;
  list-style: none;
}

.header__navigation_hide {
  visibility: hidden;
}

.header__movies {
  margin: 0;
  padding: 0;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 13px;
  line-height: 138%;
  list-style: none;
  text-decoration: none;
  color: var(--black);
}

.active {
  font-weight: 500;
}

.active::after {
  display: block;
  content: attr(title);
  font-weight: bold;
  overflow: hidden;
  visibility: hidden;
  height: 0;
}
.header__profile {
  width: 100px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  margin: 0;
  padding: 0;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 13px;
  line-height: 92%;
  list-style: none;
  text-decoration: none;
  list-style: none;
  color: var(--black);
  background: var(--white);
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
  border-radius: 40px;
}

.header__profile:hover {
  opacity: 0.8;
}

.header__profile-text {
  margin: 0;
  padding: 0;
}
.header__profile-logo {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: var(--light-gray);
  background-image: url(../../images/guard.svg);
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
}

.header__authentication {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
  list-style: none;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
}

.header__registr {
  text-decoration: none;
  color: var(--black);
}

.header__registr:hover {
  opacity: 0.7;
  cursor: pointer;
}

.header__signin {
  text-decoration: none;
  color: var(--abs-white);
  padding: 8px 20px;
  background: var(--blue);
  border-radius: 3px;
}

.header__signin:hover {
  opacity: 0.8;
  cursor: pointer;
}
